// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

header#masthead {
	border-top: 4px solid #000;
	padding: 20px 0 0px 0;
	overflow: hidden;
}
.header-right-info {
	width: auto;
	overflow: hidden;
	text-align: center;

	@media screen and (min-width: $tabwidth) {
		float: right;
		width: 40%;
		text-align: right;
	}
	@media screen and (min-width: $midwidth) {
		float: right;
		width: 55%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 40%;
	}
}
.phone {
	width: 100%;
	display: inline-block;
	text-align: center;
	margin: 20px auto;
	font: {
		weight: 700;
		size: 18px;
	}
	

	a {
		color: $color-red;
		padding: 5px 15px;
		@include transition(all 0.3s ease);
		text-decoration: none;

		&:hover {
			color: $color-blue;
		}

	}
	@media screen and (min-width: $tabwidth) {
		text-align: right;
		margin: 0;
	}
	@media screen and (min-width: $midwidth) {
		float: right;
		width: 50%;
		text-align: left;
	}

}
.hours-of-operation {
	width: 100%;
	clear: both;
	margin: 10px 0 0 0;
	font: {
		size: 14px;
	}
	display: none;



	@media screen and (min-width: $tabwidth) {
		float: left;
		display: inline-block;

	}

	.left {
		width: 100%;
		text-align: center;
		font-size: 18px;
		margin-bottom: 10px;
		@media screen and (min-width: $tabwidth) {
			text-align: right;
			font-size: 14px;
			margin-bottom: 0px;
		}
		@media screen and (min-width: $midwidth) {
			width: 45%;
			float: left;
			
		}
	}

	.right {
		width: 100%;
		text-align: center;
		@media screen and (min-width: $tabwidth) {
			text-align: right;
		}
		.day-row {
			width: 100%;
			float: left;
			text-align: center;
			margin-bottom: 10px;
			@media screen and (min-width: $tabwidth) {
				text-align: right;
				margin-bottom: 0;
			}
		}
		.day {
			width: 100%;
			float: left;
			font-weight: 700;
			
			text-align: center;
			@media screen and (min-width: $tabwidth) {
				width: auto;
				text-align: right;
				float: right;
				margin-right: 0px;
				margin-left: 10px;
			}
			@media screen and (min-width: $midwidth) {
				float: left;
				margin-right: 10px;
				margin-left: 0px;
			}
		}
		.hour {
			width: auto;
			
			text-align: center;
			@media screen and (min-width: $tabwidth) {
				text-align: right;
			}
			@media screen and (min-width: $midwidth) {
				float: left;
			}
		}

		@media screen and (min-width: $midwidth) {
			width: 50%;
			float: right;
		}
	}
}
.homeslider {
	width: 100%;
	position: relative;
	-webkit-box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.4);
box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.4);
}
.slidetext {
	width: 100%;
	position: relative;
	// float: left;
	margin: 0 auto;
	text-align: center;
	z-index: 10000;
	color: #333;

	h2 {
		position: relative;
		z-index: 100000;
		margin: 10px auto;
		width: 100%;
		font: {
			size: 20px;
			weight: 700;
		}
	}
	p {
		position: relative;
		z-index: 100000;
		width: 100%;
		font: {
			size: 14px;
			weight: 400;
		}
	}

	@media screen and (min-width: $tabwidth) {
		color: #fff;
		position: absolute;
		bottom: 0%;
		background-color: rgba(0,0,0,.5);
		text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
		h2 {
			font-size: 20px;
		}
		p {
			font-size: 14x;
		}
	}
	@media screen and (min-width: $midwidth) {
		
		h2 {
			font-size: 30px;
		}
		p {
			font-size: 22x;
		}
	}
	@media screen and (min-width: $largetabwidth) {
		h2 {
			font-size: 45px;
		}
		p {
			font-size: 30x;
		}
	}
	@media screen and (min-width: $deskwidth) {
		h2 {
			font-size: 45px;
		}
		p {
			font-size: 30x;
		}
	}
	@media screen and (min-width: $largewidth) {
		
	}
}
section.blue {
	width: 100%;
	background-color: $color-blue;
	overflow: hidden;
}
.home-blue {
	color: #fff;
	margin: 20px auto;
	padding-bottom: 30px;
	h2 {
		font: {
			size: 24px;
			weight: 400;
		}
	}
	@media screen and (min-width: $tabwidth) {
		margin: 40px auto 0 auto;
	}
}
.home-news {
	width: 100%;
	color: #fff;
	h3 {
		font: {
			weight: 400;
			size: 24px;
		}
	}
	@media screen and (min-width: $tabwidth) {
		width: 45%;
		float: left;
	}
}
.home-help {
	width: 100%;
	h3 {
		font: {
			weight: 400;
			size: 24px;
		}
	}
	@media screen and (min-width: $tabwidth) {
		width: 45%;
		float: right;
	}
}
article.white-box {
	background-color: rgba(255,255,255,1);
	width: 100%;
	padding: 3%;
	position: relative;
	margin-bottom: 20px;
	color: #000;
	
	h3 {
		margin: 0 0 20px 0;
		text-transform: uppercase;
		font: {
			weight: 500;
			size: 16px;
		}
	}

	.link {
		margin: 0;
		font: {
			weight: 400;
			size: 16px;
		}
	}

	@media screen and (min-width: $tabwidth) {

	}
}
.readmore {
	text-transform: uppercase;
	width: auto;
	position: absolute;
	bottom: 0;
	right: 0;
	font: {
		weight: 500;
		size: 13px;
	}

	a {
		padding: 5px 30px 5px 15px;
		display: block;
		background-color: rgba($color-light-grey, 1);
		text-decoration: none;
		color: #000;
		@include transition(all ease .3s);

		&::after {
			content: url(images/red-arrow.png);
			position: absolute;
			top: 5px;
			right: 12px;
		}

		&:hover {
			padding: 5px 40px 5px 15px;
			&::after {
				//right: 5px;
			}
		}
	}
}
.quick-readmore {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	@include transition(all ease .3s);
	background: {
		image: url(images/red-arrow.png);
		repeat: no-repeat;
		position: right 15px bottom 20px;
	}
	font: {
		weight: 500;
		size: 13px;
	}

	a {
		width: 100%;
		height: 100%;
		display: block;
		text-indent: -9000px;
		
	}
	&:hover {
			background: {
				position: right 5px bottom 20px;
			}
		}
}
.home-logos {
	text-align: center;
	width: 100%;
	margin: 0 auto ;
	overflow: hidden;
	background-color: #fff;
	padding: 40px 0;
}
.home-logo {
	width: 150px;
	margin: 10px auto;
	display: inline-block;

	@media screen and (min-width: $tabwidth) {
		margin: 20px;
	}
}
footer.site-footer {
	border-top: 1px solid #eee;
	border-bottom: 3px solid #000;
	background-color: #fff;
	
}
.site-info {
	padding: 20px 0;
	overflow: hidden;
}
.footer-address {
	width: 100%;
	text-align: center;
	a {
		text-decoration: none;
		color: #000;
		@include transition(.3s ease all);
		&:hover {
			color: $color-red;
		}
	}
	@media screen and (min-width: $tabwidth) {
		text-align: left;
		width: auto;
		float: left;

	}
}
.footer-cred {
	width: 100%;
	text-align: center;
	@media screen and (min-width: $tabwidth) {
		text-align: right;
		width: auto;
		float: right;

	}
	a {
		text-decoration: none;
		color: #000;
		@include transition(.3s ease all);
		&:hover {
			color: $color-red;
		}
	}
}
.map {
	background-color: $color-blue;
	padding: 10px;
}
section.blue-widget {
	width: 100%;
	background-color: $color-blue;
	overflow: hidden;
	color: #fff;
	padding: 20px;
}
.videos {
	width: 100%;
	overflow: hidden;
	clear: both;
}
.video-first {
	margin: 0 0 30px 0;

	@media screen and (min-width: $tabwidth) {
		margin: 0 3% 20px 0;
	}
}
.video-last {
	margin: 0 0 30px 0;

	@media screen and (min-width: $tabwidth) {
		margin: 0 0 20px 0;
	}
}
.video 	{
	width: 100%;
	position: relative;
	background-color: $color-blue;
	padding: 2%;
	@media screen and (min-width: $tabwidth) {
		width: 31%;
		float: left;
	}

	& iframe {
		width: 100%;

		@media screen and (min-width: $tabwidth) {
			min-height: 130px;
		}
		@media screen and (min-width: $midwidth) {
			min-height: 170px;
		}
		@media screen and (min-width: $deskwidth) {
			min-height: 250px;
		}
	}
	& h3 {
		margin: 10px 0 10px 0;
		color: #fff;
		font: {
			size: 20px;
			weight: 400;
		}
	}
}