.widget {
	width: 100%;
	position: relative;
	margin: 0 0 30px 0;
	background-color: $color-blue;
	padding: 2%;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}
.video 	{
	width: 100%;
	position: relative;
	margin: 0 0 30px 0;
	background-color: $color-blue;
	padding: 2%;

	& iframe {
		width: 100%;

		@media screen and (min-width: $tabwidth) {
			min-height: 130px;
		}
		@media screen and (min-width: $midwidth) {
			min-height: 170px;
		}
		@media screen and (min-width: $deskwidth) {
			min-height: 250px;
		}
	}
	& h3 {
		margin: 10px 0 10px 0;
		color: #fff;
		font: {
			size: 20px;
			weight: 400;
		}
	}
}