.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.entry-content {
	ul {
		margin: 0 0 20px 20px;
	}
	li {
		padding: 0 0 0 5px;
		margin: 8px 0 ;
		line-height: 1;
		overflow: hidden;
		border-left: {
			style: solid;
			width: 2px;
			color: $color-red;
		}
		list: {
			style: none;
		}
	}
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.border {
	width: 100%;
	margin-top: 10px;
	position: relative;
  	border-top: 2px solid #000;
  	&:before {
	  	width: 100%;
	  	content: " ";
		position: absolute;
		z-index: -1;
		top: 2px;
		border: 1px solid #000;
  	}
}
.products-page,
.single-product-gallery,
.single-service-list-area
 {
	width: 100%;
	padding-top: 30px;

	.product {
		width: 100%;
		& img {
			width: 100%;
		}
		
		@media screen and (min-width: $tabwidth) {
			width: 32.5%;
		}

		.heading  {
			width: 100%;
			padding: 5%;
			background-color: #fff;
			position: relative;
			margin-bottom: 5px;
			color: #000;
			
			h2 {
				color: #000;
				margin: 0 0 15px 0;
				font: {
					size: 16px;
					weight: 500;
				}
			}
			p {
				margin: 0;
				font: {
					size: 16px;
					weight: 400;
				}
			}
		}
	}
	.product-first {
		margin: 20px auto;
		float: left;

		@media screen and (min-width: $tabwidth) {
			margin: 0 .5% 0 0;
		}
	}
	.product-last {
		margin: 20px auto;
		float: left;

		@media screen and (min-width: $tabwidth) {
			margin: 0 0% 0 0;
		}
	}
	.service-first {
		margin-bottom: 5px;
		@media screen and (min-width: $tabwidth) {
			width: 48%;
			margin-bottom: 5px;
			float: left;
		}
	}
	.service-last {
		margin-bottom: 5px;
		@media screen and (min-width: $tabwidth) {
			width: 48%;
			margin-bottom: 5px;
			float: right;
		}
	}
}
.single-product-side {
	width: 90%;
	margin: 0px auto;
	padding: 5%;
	background-color: $color-blue;
	
	@media screen and (min-width: $tabwidth) {
		width: 33%;
		float: right;
		margin: 50px 0 0px 0;
		padding: 2%;

	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}

}
.single-product-list  {
	width: 100%;
	padding: 5%;
	background-color: #fff;
	position: relative;
	margin-bottom: 5px;
	
	h2 {
		color: #000;
		margin: 0;
		font: {
			size: 16px;
			weight: 500;
		}
	}
}
.single-service-side {
	width: 90%;
	margin: 0px auto;
	
	position: relative;
	
	@media screen and (min-width: $tabwidth) {
		width: 50%;
		float: right;
		margin: 50px 0 0px 0;
		padding: 2%;

	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}

}
.single-service-list  {
	width: 100%;
	color: #000;
	background-color: #fff;
	position: relative;
	
	
	
	h2 {
		color: #000;
		margin: 0;
		font: {
			size: 16px;
			weight: 500;
		}
	}

	@media screen and (min-width: $tabwidth) {
		
	}
}
.single-service-thumb {
	width: 30%;
	float: left;
	line-height: 0;

	& img {
		width: 100%;
		line-height: 0;
	}
}
.single-service-right {
	width: 70%;
	float: right;
	padding: 3% 0 0 3%;
}
/**! Gallery */
#gallery {
	clear: both;
}
// .item {
// 	width: 100%;
// 	@media screen and (min-width: $tabwidth) {
// 		width: 31.333333%;
// 	}
// 	@media screen and (min-width: $deskwidth) {
// 		width: 32.333333%;
// 	}
//}

.item-product {
	width: 100%;
	@media screen and (min-width: $tabwidth) {
		width: 31.333333%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 32.333333%;
	}
	
}
.item-service {
	width: 100%;
	@media screen and (min-width: $tabwidth) {
		width: 48%;
	}
	@media screen and (min-width: $deskwidth) {
		//width: 32.333333%;
	}
	
}