.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.entry-content {
	ul {
		margin: 0 0 20px 20px;
	}
	li {
		padding: 0 0 0 5px;
		margin: 8px 0 ;
		line-height: 1;
		overflow: hidden;
		// border-left: {
		// 	style: solid;
		// 	width: 2px;
		// 	color: $color-red;
		// }
		list: {
			style: none;
		}
	}
	li:before {
	    content: "• ";
	    color: $color-red; /* or whatever color you prefer */
	}
	ul#twocol {
		overflow: hidden;
		li {
			width:90%;
			@media screen and (min-width: $tabwidth) {
				width :45%;
				float: left;
			}
		}
	}
}
ul.gform_fields li,
.gform_wrapper form li,
.gform_wrapper li {
	list-style: none;
	border-left-style: solid;
    border-left-width: 0;
    border-left-color: #e31d19;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
.border {
	width: 100%;
	margin-top: 10px;
	position: relative;
  	border-top: 2px solid #000;
  	&:before {
	  	width: 100%;
	  	content: " ";
		position: absolute;
		z-index: -1;
		top: 2px;
		border: 1px solid #000;
  	}
}
.content-pusher {
	width: 100%;
	position: relative;
	height: 170px;
	z-index: 40;
	margin-top: 4px;
	
}
.banner {
	width: 100%;
	position: absolute;
	z-index: -10;
	img {
		width: 100%;
	}
}
.gradient {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	z-index: 45;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,f0f0ee+87&0+0,1+87 */
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(240,240,238,1) 87%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(240,240,238,1) 87%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(240,240,238,1) 87%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#f0f0ee',GradientType=0 ); /* IE6-9 */



}
.products-page,
.single-product-gallery,
.single-service-list-area
 {
	width: 100%;
	padding-top: 30px;

	.product {
		width: 100%;
		& img {
			width: 100%;
		}
		
		@media screen and (min-width: $tabwidth) {
			width: 32.5%;
		}

		.heading  {
			width: 100%;
			padding: 5%;
			background-color: #fff;
			position: relative;
			margin-bottom: 5px;
			color: #000;
			
			h2 {
				color: #000;
				margin: 0;
				
				font: {
					size: 16px;
					weight: 500;
				}
				&.services {
					margin: 0 0 15px 0;
				}
			}
			p {
				margin: 0;
				font: {
					size: 16px;
					weight: 400;
				}
			}
			@media screen and (min-width: $tabwidth) {
				padding: 4%;
			}
		}
	}
	.product-first {
		margin: 20px auto;
		float: left;

		@media screen and (min-width: $tabwidth) {
			margin: 0 .5% 0 0;
		}
	}
	.product-last {
		margin: 20px auto;
		float: left;

		@media screen and (min-width: $tabwidth) {
			margin: 0 0% 0 0;
		}
	}
	.service-first {
		margin-bottom: 5px;
		@media screen and (min-width: $tabwidth) {
			width: 48%;
			margin-bottom: 5px;
			float: left;
		}
	}
	.service-last {
		margin-bottom: 5px;
		@media screen and (min-width: $tabwidth) {
			width: 48%;
			margin-bottom: 5px;
			float: right;
		}
	}
}

.single-product-list  {
	width: 100%;
	padding: 4%;
	background-color: #fff;
	position: relative;
	margin-bottom: 5px;
	

	h2 {
		color: #000;
		margin: 0;
		font: {
			size: 16px;
			weight: 500;
		}
	}
}
.single-service-side {
	width: 90%;
	margin: 0px auto;
	
	position: relative;
	
	@media screen and (min-width: $tabwidth) {
		width: 50%;
		float: right;
		margin: 50px 0 0px 0;
		padding: 2%;

	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}

}
.single-service-list  {
	width: 100%;
	color: #000;
	background-color: #fff;
	position: relative;
	overflow: hidden;
	
	
	h2 {
		color: #000;
		margin: 0;
		font: {
			size: 16px;
			weight: 500;
		}
	}

	@media screen and (min-width: $tabwidth) {
		
	}
}
.single-service-thumb {
	width: 30%;
	float: left;
	line-height: 0;

	& img {
		width: 100%;
		line-height: 0;
	}
}
.single-service-right {
	width: 70%;
	float: right;
	padding: 3% 0 0 3%;
}
/**! Gallery */
#gallery {
	clear: both;
}
// .item {
// 	width: 100%;
// 	@media screen and (min-width: $tabwidth) {
// 		width: 31.333333%;
// 	}
// 	@media screen and (min-width: $deskwidth) {
// 		width: 32.333333%;
// 	}
//}

.item-product {
	width: 100%;
	@media screen and (min-width: $tabwidth) {
		width: 31.333333%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 32.333333%;
	}
	
}
.item-service {
	width: 100%;
	@media screen and (min-width: $tabwidth) {
		width: 48%;
	}
	@media screen and (min-width: $deskwidth) {
		//width: 32.333333%;
	}
	
}
article.white-news {
	background-color: rgba(255,255,255,1);
	width: 94%;
	padding: 3%;
	position: relative;
	margin-bottom: 20px;
	color: #000;
	
	h3 {
		margin: 0 0 20px 0;
		text-transform: uppercase;
		font: {
			weight: 500;
			size: 16px;
		}
	}

	.link {
		margin: 0;
		font: {
			weight: 400;
			size: 16px;
		}
	}

	@media screen and (min-width: $tabwidth) {
		width: 48%;
	}
}
.news-left {
	float: left;
}
.news-right {
	float: right;
}


// Locations

.location-col {
	width: 100%;

	& h2 {
		font: {
			weight: 400;
		}
		background-color: #fff;
		border-bottom: 2px solid $color-blue;
		padding: 5%;
		line-height: 1;
	}

	@media screen and (min-width: $tabwidth) {
		width: 29%;
		float: left;
	}
}
.l-col-first {
	margin: 0 0 30px 0;

	@media screen and (min-width: $tabwidth) {
		margin: 0 6% 30px 0;
	}
}
.l-col-last {
	margin: 0 0 30px 0;

	@media screen and (min-width: $tabwidth) {
		margin: 0 0% 30px 0;
	}
}
.location-item {
	padding: 5%;
	background-color: #fff;
	margin-bottom: 20px;
}